.header {
    background-color: #f3f4f5;
    font-size: 12px;
    padding: 4px;
    color: #31353bad;
}

.atas {
    display: flex;
    padding: 0px 32px;
}

.img {
    width: 20px;
    height: 20px;
    background-image: url(https://ecs7.tokopedia.net/assets-tokopedia-lite/v2/zeus/production/2d055caf.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 60% 60%;
    display: inline-block;
}

#muter {
    display: flex;
    justify-content: inherit;
    width: 100%;
    padding-top: 2px;
    color: #31353bad;
}

#muter a {
    color: #31353bad;
    outline: none;
}

.geser-1 {
    padding-left: 55%;
}

.geser-2 {
    padding-left: 2.5%;
}


.img-1 {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px
}

.header-2 {
    box-shadow: 1px 1px 5px #cecece;
}

.search {
    display: flex;
}


.cate-1 {
    padding: 16px 20px;
    font-size: 13px;
}

.form {

    padding-top: 12px;
    display: flex;
    width: 100%;
}

.nyatu {
    border: 1px solid #E5E7E9;
    box-shadow: 1px 1px 5px #cecece;
    border-radius: 8px;
    height: 30px;
    width: 76%;
    display: flex;
    outline: none;

}

#input-1 {
    outline: none;
    border: none;
    line-height: 10px;
    width: 100%;
}

#b1 {
    background-color: #E5E7E9;

    border: none;
    margin-left: 77%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    outline: none;

}

.cart {
    display: flex;
    justify-content: center;
    padding-left: 3%;
    padding-top: 7px;
    padding-bottom: 7px;
}

.line {
    width: 1.5px;
    height: 24px;
    background: #e0e0e0;
    margin: 0 0 0 35px;
}

.log-reg {
    padding-left: 10px;

}

.login {
    width: 47%;
    height: 32px;
    padding: 0px 16px;
    font-weight: 800;
    border-radius: 8px;
    font-size: 12px;
    background: white;
    color: #03ac0e;
    border: 1px solid #03ac0e;
}

.register {
    width: 47%;
    height: 32px;
    padding: 0px 16px;
    font-weight: 800;
    border-radius: 8px;
    font-size: 12px;
    background: #03ac0e;
    color: #ffffff;
    border: 1px solid #03ac0e;
}

.carousel {
    display: inline-block;
    line-height: normal;
    width: 100%;
    padding-top: 10px;
    background-color: white;
    padding-bottom: 10px;
}

.slide-master {
    border-radius: 10px;
    width: 50%;
    margin: auto;
}

.slide-1 {
    background-position-x: center;
}

.center {
    padding-left: 10%;
    padding-right: 10%;
}

.icon {

    padding-left: 20%;
    padding-right: 20%;
}

#tombol-kiri {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    outline: none;
    background-color: white;
    overflow: visible;
}

#tombol-kanan {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    outline: none;
    background-color: white;
}

.kategori {
    width: 100%;
    height: 100%;
    display: inline;
    border: 1px groove #E5E7E9;
    box-shadow: 1px 1px 5px #cecece;
}

.kat-master {
    margin-left: 6%;
    margin-right: 10%;
    border: 1px groove #E5E7E9;
    box-shadow: 1px 1px 5px #cecece;
    border-radius: 8px;
}

.kat-1 {
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    flex-wrap: wrap;
}

.item-kat {
    width: 120px;
    height: 120px;
    margin: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #E5E7E9;
    border-radius: 10px;
}

.item-master-2 {
    padding-left: 50px;
    display: flex;
    margin: 10px 0px;
}

.top-up {
    border: 1px solid #E5E7E9;
    box-shadow: 1px 1px 1px #cecece;
    width: 100%;
    margin-left: 45px;
    margin-right: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;

}

.top-1 {
    box-sizing: border-box;
    border: 1px solid #E5E7E9;
    width: 100%;
    height: 30%;
    text-align: center;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-bottom-color: #E5E7E9;
    padding: 5px 0px;
}

.top-2 {
    box-sizing: border-box;
    border: 1px solid #E5E7E9;
    height: 30%;
    text-align: center;
    padding: 10px 20px;
    border-top: transparent;
    border-left: 1px solid #E5E7E9;
    border-right: transparent;
    padding: 10px 20px;
}

#phone {
    margin: 0 20px;
    box-sizing: border-box;
    border: 1px groove;
    border-radius: 8px;
    outline: none;
}

.kiri {
    text-align: left;
    padding-left: 22px;
    font-size: 14px;
    color: #31353bad;
}

.top3-master {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 15px 0px;
    padding: 0px 20px;
    justify-content: space-between;
    ;
}

.a-size {
    width: 30px;
    height: 30px;
}

.top-3 {
    box-sizing: border-box;
    border: 1px solid #E5E7E9;
    box-shadow: 1px 1px 5px #cecece;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 0px 5px;
    color: #0000008a;
}

.pop-master {
    width: 100%;
    height: 100%;
}

.pop-master2 {
    box-sizing: border-box;
    border: 1px solid #E5E7E9;
    box-shadow: 1px 1px 5px #cecece;
    padding-right: 10%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1%;
}

.popular {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.pop-1 {
    margin-left: 6%;
    margin-right: 10%;
}

.pop-2 {
    width: 70px;
    height: 70px;
}

.pop-ex {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 6%;
    margin-right: 10%;
    margin-top: 1%;
    ;
}

.official {
    width: 100%;
    height: 100%;
    display: inline;
}

.off-1 {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

.img-off {
    margin-top: 1%;
    display: flex;
}

.img-off-1 {
    width: 225px
}

.off-master-1 {
    display: flex;
    justify-content: space-between;
}

.off-master-1-1 {
    margin-left: 6%;
}

.off-2 {
    display: flex;
    margin-top: 3%;
}

.off-master-1-2 {
    margin-right: 10%;
}

.foryou {
    width: 100%;
    height: 100%;

}

.for-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.you1 {
    box-sizing: border-box;

}

.popular {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.for-1-1 {
    margin-left: 6%;
    margin-right: 10%;
    margin-top: 1%;
}

.foryou-2 {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 6%;
    margin-right: 10%;
    margin-top: 1%;
    font-weight: 600;
}

.foryou-2-1 {
    box-sizing: border-box;
    border: 1px solid #E5E7E9;
    box-shadow: 1px 1px 5px #cecece;
    padding-right: 12%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1%;
}

.foryou-2-2 {
    box-sizing: border-box;
    border: 1px solid #E5E7E9;
    box-shadow: 1px 1px 5px #cecece;
    padding-right: 12%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}